<div class="container mt-5">
  <ng-container *ngIf="tecnologias.results.length > 0">
    <h1 class="mb-4">Tecnología</h1>
    <div class="row">
      <div class="col-12 col-md-4 mb-4" *ngFor="let noticia of tecnologias.results | slice:0:3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" [innerHTML]="noticia.title"></h5>
            <p class="card-text">{{ noticia.description | slice:0:100 }}{{' ...'}}</p>
            <a (click)="navigateToNoticia(noticia)" class="btn btn-primary">Ir a la noticia</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

