<div class="container mt-5">
   <div class="row">
     <div class="col-12 col-md-9">
       <app-noticiascabecera></app-noticiascabecera>
       <app-politica></app-politica>
       <app-economia></app-economia>
       <app-deportes></app-deportes>
       <app-tecnologia></app-tecnologia>
       <app-ciencia></app-ciencia>
       <app-salud></app-salud>
     </div>
     <div class="col-md-3 d-none d-md-block">
      <div class="mt-4" style="width: 20vw; height: 80vh;">

      </div>
     </div>
   </div>
 </div>
 
