<div class="con-animate">
    <div class="animate1">
      <p>Mercados:</p>
      <p>Texto2</p>
      <p>Texto3</p>
      <p>Texto4</p>
      <p>Texto5</p>
      <p>Texto6</p>
      <p>Texto7</p>
      <p>Texto8</p>
      <p>Texto9</p>
      <p>Texto10</p>
      <p>Texto11</p>
      <p>Texto12</p>
      <p>Texto13</p>
      <p>Texto14</p>
      <p>Texto15</p>
      <p>Texto16</p>
    </div>
    <div class="animate2">
      <p>Resultados:</p>
      <p>Texto2</p>
      <p>Texto3</p>
      <p>Texto4</p>
      <p>Texto5</p>
      <p>Texto6</p>
      <p>Texto7</p>
      <p>Texto8</p>
      <p>Texto9</p>
      <p>Texto10</p>
      <p>Texto11</p>
      <p>Texto12</p>
      <p>Texto13</p>
      <p>Texto14</p>
      <p>Texto15</p>
      <p>Texto16</p>
    </div>
  </div>